.navBar a {
  color: white;
  margin-right: 10px;
  font-size: large;
  font-weight: 500;
  display: block;
  padding: 8px;
  text-decoration: none;
}
.navBar a:hover,
a:active,
a.active {
  color: #7952b3;
  font-size: large;
  font-weight: 500;
}
/* .btn{
    font-size: large;
} */
